:root {
    --hover-black: #101010; 
}

* {
    box-sizing: border-box;
}

body {
    position: relative;
    margin: 0;
    padding: 0;

    height: 100vh;
    width: 100vw;

    background-color: black;
}

.gameboard {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 600px;
    height: 600px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.tile {
    height: 100%;
    width: 100%;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

.tile:hover {
    background-color: var(--hover-black);
}

.no-bottom {
    border-bottom: none;
}

.no-right {
    border-right: none;
}

.mark {
    
}

.x-mark {
    transform: rotate(45deg);
    height: 50%;
    width: 10px;
    background-color: white;
}

.x-mark::after {
    content: "";
    position: absolute;

    transform: rotate(90deg);
    height: 100%;
    width: 100%;
    background-color: white;
}